.three {
  height: 100vh;
  background-image: url("light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.grid {
  margin-top: 0;
}
span {
  color: red;
}
.ui.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
